body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    color: #444;
}

.container{
    margin-left: 70px;
    margin-right: 70px;
    height: 100%;
}

#header{
    background: #eb8e8e;
    height: 50px;
    position: relative;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.setting{
    width: 40px;
    height: 40px;
}

button:hover{
    opacity: 0.7;
}

.settingButton:hover + .subMenu{ /* le subMenu est en hover en attendant de créer son JS */
    display: block;
}

button{
    background: none;
    border: none;
    outline: none;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

.subMenu{
    background: #eb8e8e;
    height: auto;
    width: 350px;
    position: absolute;
    top: 50px;
    display: none; /* le subMenu est en hover en attendant de créer son JS */
}

.subMenu img{
    width: 30px;
    margin-right: 10px;
}

.subMenuLine{
    display: flex;
    flex-direction: row;
}

.subMenuLine div{
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.subMenu button{
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
}

.subMenu span{
    font-weight: lighter;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedia img{
    width: 20px;
    margin-top: 20px;
}

h1{
    color: white;
    font-size: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counter{
    width: 380px;
    display: flex;
    justify-content: space-between;
}

.counterCase{
    height: 38px;
    width: 180px;
    background: #E3ACAC;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

h2{
    margin: 0;
    text-align: center;
}

.worm{
    width: 43px;
    margin: -20px 0px -15px 0px;
}

.yellowEmoji{
    color: yellow;
}

/* 
BODY
*/

#island {
    position : absolute;
    width : 890px;
    top : 10px;
    left : -31px;
}

#path1{
    position : absolute; 
    top : 710px;
    height : 581px;
    z-index : 1;
    width: 100%;
}

#path2{
    position : absolute; 
    top : 697px;
    width : 100%;
}

.gradient{
    position : absolute;
    background-image : linear-gradient(#AEE4FF, #071635);
    height : 9000px;
    width : 100%;
    top : 1291px;
}

.graduation {
    display: flex;
    width : 50px;
    height : 10px;
    background-color: white; 
    position : absolute; 
    border-radius: 5px;
    z-index : 2;
    left : -10px;
}

#g1{
    top : 750px
}
#g2{
    top : 1500px;
}
#g3{
    top : 2250px;
}
#g4{
    top : 3000px;
}
#g5{
    top : 3750px;
}
#g6{
    top : 4500px;
}
#g7{
    top : 5250px;
}
#g8{
    top : 6000px;
}
#g9{
    top : 6750px;
}
#g10{
    top : 7500px;
}
#g11{
    top : 8250px;
}

.graduation p{
    color: white; 
    position : absolute;
    left : 60px;
    top : -20px;
}

#fisherMan{
    width : 400px;
    position : absolute; 
    top : 445px;
    left : 1129px;
}
