body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-size: 62,5%;
    color: #444;
}

.container{
    width : 1500px;
    margin : 0 auto;
    height : 100%;
    display: flex; 
    flex-direction: row;
}

#header{
    background: #eb8e8e;
    height: 50px;
    margin-top: 0;
}

h1{
    margin: 5px;
    font-weight: lighter;
    color: black;
}

.flex{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/*Button dynamite*/

.buttonMarket{
    border: 1px solid #E3ACAC;
    background-color: #E3ACAC;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    width: 13%;
    align-items: center;
    justify-content: space-around;
}

.dynamites{
    position: relative;
}

.dynamites img{
    width: 20%;
}

.more{
    color: yellow;
    font-size: 2em;
}

.buttonHover:hover .more{
    font-size: 2.5em;

}

.buttonHover:hover{
    cursor: pointer;
}


/*Button Boats*/

.boats{
    position: relative;
}

#levelUp{
    width: 9%;
}

.buttonHover:hover #levelUp{
    width: 11%;        
}   

#level{
    font-weight: bolder;
}

.blocBoat{
    display: flex;
    flex-direction: column;
}

.blocBoat p{
    margin: 0 10%;

}

.boatCoin{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10%;
}



/*Button worms*/

.worms img{
    width: 20%;
}

.worm p{
    font-weight: bolder;
}

.blocWorm{
    margin-top: 50px;
}

/*Button coin*/

.coin {
    justify-content: space-around;
}

.coin p{
    margin: 0 10%;
    font-weight: bolder;
}


#setting{
    height: 95%;
    width: auto;
    margin-top: 1px;
    position: relative;
}
/* 
BODY
*/

.subMenu{
    background-color: #eb8e8e;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: -4;
    margin-top: 50px;
}

.subMenuDynamitesOpen{
    padding-top: 25px;
    width: 100%;
    display: block;
}

.subMenuDynamites{
    width: 100%;
    display: none;
}

.subMenuBoatsOpen{
    width: 100%;
    display: block;
    padding-top: 100px;
}

.subMenuBoats{
    width: 100%;
    display: none;
}

.subMenuWormsOpen{
    padding-top: 80px;
    width: 15%;
    display: block;
}

.subMenuWorms{
    width: 15%;
    display: none;
    padding-top: 100px;
}

.blocDynamite img{
    width: 13%;
    margin: 0;
}

.blocBoat #fisherBoatImage{
    width: 100%;
    padding-top: 50%;
}

.blocWorm img{
    width: 13%;
    margin: 0;
}

.blocDynamite p{
    margin: 5%;
}

.blocMarket{
    border: 1px solid #E3ACAC;
    background-color: #E3ACAC;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Settings*/

.subMenuSettings{
    width: 20%;
    height: 25%;
    display: block;
    color: white;
    display: flex;
    flex-direction: column;
    right: 3%;
    top: -20px;
    padding-top: 2%;

}

.iconesSettings{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rules img{
    width: 30%;
}

.icones img{
    height: 5%;
    width: 20%;
}

.icones{
    display: flex;
    align-items: center;
}

.icones p{
    margin-left: 20%;
}

.settingsLeft{
    display:flex; 
    flex-direction: column;

}

.settingsRight{
    display:flex; 
    flex-direction: column;
}

/*socialNetworks*/

.socialNetworks{
    display: flex;
    justify-content: center;
}

.socialNetworks img{
    width: 9%;
    height: 60%;
    margin: 20px;
}


/* 
BODY
*/

#island {
    position : absolute;
    width : 700px;
    top : 100px;
    left : 200px;
    z-index : -10;
}

#path1{
    position : absolute; 
    top : 710px;
    height : 581px;
    z-index : 1;
    width: 100%;
}

#path2{
    position : absolute; 
    top : 697px;
    width : 100%;
}

.gradient{
    position : absolute;
    background-image : linear-gradient(#AEE4FF, #071635);
    height : 9000px;
    width : 100%;
    top : 1291px;
}

.graduation {
    display: flex;
    width : 50px;
    height : 10px;
    background-color: white; 
    position : absolute; 
    border-radius: 5px;
    z-index : 2;
    left : -10px;
}

#g1{
    top : 750px
}
#g2{
    top : 1500px;
}
#g3{
    top : 2250px;
}
#g4{
    top : 3000px;
}
#g5{
    top : 3750px;
}
#g6{
    top : 4500px;
}
#g7{
    top : 5250px;
}
#g8{
    top : 6000px;
}
#g9{
    top : 6750px;
}
#g10{
    top : 7500px;
}
#g11{
    top : 8250px;
}

.graduation p{
    color: white; 
    position : absolute;
    left : 60px;
    top : -20px;
}

#fisherMan{
    width : 400px;
    position : absolute; 
    top : 445px;
    left : 1129px;
}



/* anime */
.saumon{
    width: 500px;
    z-index: -100;
}

.fish
{
    animation: test 15s infinite;
}


@keyframes test {
    0% {
        transform: scale(1, 1);
    }
    7% {
        transform: scale(1, 0.9) 
    }
    14% {
        transform: scale(1, 1) 
    }
    21% {
        transform: scale(1, 0.9) 
    }
    28% {
        transform: scale(1, 0.9) 
    }
    35% {
        transform: scale(1, 1) 
    }
    43% {
        transform: scale(1, 0.9) 
    }
    50% {
        transform: scale(1, 0.9) 
    }
    57% {
        transform: scale(1, 1) 
    }
    64% {
        transform: scale(1, 0.9) 
    }
    71% {
        transform: scale(1, 0.9) 
    }
    78% {
        transform: scale(1, 1) 
    }
    85% {
        transform: scale(1, 0.9) 
    }
    93% {
        transform: scale(1, 0.9) 
    }
    98% {
        transform: scale(1, 0.90) 
    }
    100% {
        transform: scale(1, 1);
    }
}
/*
.fish1{
	animation: test1 15s infinite;
}
@keyframes test1 {
    0% {
        transform: translateX(110%);
    }
    100% {
        transform: translateX(-10%);
    }
}
*/


.background{
    cursor: url("https://s3-eu-west-1.amazonaws.com/sc-files.pjms.fr/p/pjms/823/000/097/160/7e637f9bc3134f3d8b344ca1bb8ca1d1.png")0 -17,auto;
}