body{
    margin: 0;
    padding: 0;
    font-family:  'Josefin Sans', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    background-image: url("../images/fond.png") ;
    background-size: contain;
    background-repeat: no-repeat;
}

.firstContainer{
    height: 60%;
}

.box{
    width: 300px;
    height: auto;
    padding: 40px;
    margin: 15% auto;
    background: #FFF;
    text-align: center;
    border-radius: 5%;
    border: 2px solid #707070;
    position: relative;
}

h1{
    color: #707070;
}

.btn{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #707070;
    width: 50%;
    padding: 10px;
    border-radius: 7px;
    outline: none;
}

.submit{
    background: #C1DEB6;
    text-transform: uppercase;
    color: #FAFAFA;
    font-size: 1em;
}
.submit:hover{
    transition: 0.25s;
    background: #27ae60;
    cursor: pointer;
    border: 1px solid #27ae60;
}

.nick{
    font-size: 0.8em;
}

.nick:focus{
    transition: 0.25s;
    width: 70%;
}

.social{
    padding: 10px;
    background: #eb8e8e;
    border-radius: 3px;
    width: 25px;
    position: fixed;
    left: 97%;
    top: 25%;
}

.btn-social{
    cursor: pointer;
}

.secondContainer{
    width: 100%;
    margin: 5% auto;
    background: #9fe5ff;
    height: 60%;
}

.storyTelling{
    padding: 40px
}

h1.title2{
    text-align: center;
    color: #000000;
}

.story{
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    padding:  20px 40px;
}

