body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    position: absolute;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.firstContainer {
    height: 60%;
}

.box {
    position: relative;
    margin: 15% auto;
    padding: 40px;
    width: 300px;
    height: auto;
    border: 2px solid #707070;
    border-radius: 5%;
    background: #FFF;
    text-align: center;
}

h1 {
    color: #707070;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    outline: none;
    border: 1px solid #707070;
    border-radius: 7px;
    background: none;
    text-align: center;
}

.submit {
    background: #C1DEB6;
    color: #FAFAFA;
    text-transform: uppercase;
    font-size: 1em;
}

.submit:hover {
    border: 1px solid #27ae60;
    background: #27ae60;
    cursor: pointer;
    transition: 0.25s;
}

.nick {
    font-size: 0.8em;
}

.nick:focus {
    width: 70%;
    transition: 0.25s;
}

.social {
    position: fixed;
    top: 25%;
    left: 97%;
    padding: 15px;
    width: 25px;
    border-radius: 3px;
    background: #eb8e8e;
}

.btn-social {
    cursor: pointer;
}

.btn-social img {
    padding: 7px 0px;
    width: 20px;
}

.secondContainer {
    margin: 5% auto;
    width: 100%;
    height: 400px;
}

.storyTelling {
    padding: 40px;
    color: #FFF;
}

h1.title2 {
    color: #FFF;
    text-align: center;
}

.story {
    margin: 0 auto;
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
}

.thirdContainer {
    margin: 5% auto;
    width: 100%;
    height: 275px;
}

.fonctionnality {
    padding: 40px;
    text-align: center;
}

.fullOpa {
    color: black;
    opacity: 1;
    transition: all 1s;
}

.noOpa {
    opacity: 0;
}

.title3 {
    color: #FFF;
}

.howPlayP {
    padding: 7%;
    color: #FFF;
    font-size: 30px;
}

footer {
    position: absolute;
    top: 216%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: #eb8e8e;
}

.footContainer {
    display: flex;
    align-items: center;
}

.footA {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footA a {
    margin-right: 5%;
    margin-left: 5%;
    color: #FFF;
    text-decoration: none;
}

.footSocial {
    display: flex;
    align-items: center;
}

.footSocial img {
    margin: 0 30px;
    width: 20px;
}


/*BACROUND$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

#island {
    position: absolute;
    top: 100px;
    z-index: -10;
    width: 700px;
}

#path1 {
    position: absolute;
    top: 710px;
    z-index: 1;
    width: 100%;
    height: 581px;
}

#path2 {
    position: absolute;
    top: 697px;
    width: 100%;
}

.gradient {
    position: absolute;
    top: 1291px;
    width: 100%;
    height: 75%;
    background-image: linear-gradient(#AEE4FF, #071635);
}

.graduation {
    position: absolute;
    left: -10px;
    z-index: 2;
    display: flex;
    width: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: white;
}

#g1 {
    top: 750px
}

#g2 {
    top: 1500px;
}

.graduation p {
    position: absolute;
    top: -20px;
    left: 60px;
    color: white;
}

#fisherMan {
    position: absolute;
    top: 445px;
    left: 70%;
    width: 400px;
}

.background {
    z-index: 1;
    width: 100%;
}

.container {
    z-index: 10;
}

.pedagogicalMention{
	margin-top: 10px;
	text-align: center;
    font-weight: bold;
	font-size: 15px;
}